<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PersonalHealthHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEA105381C8579CC007BF5DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEA105511C8579CD007BF5DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEA1055C1C8579CD007BF5DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
